**/.DS_Store
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
mvn*
**/out/**
**/sources.txt
*/bin/
*/target/
**/target/**
**/jars/**
**/mods/**
**/image/**
**/dots/**
**/test/**
**/tmp/**
**/jlink_image/**
**/*.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.attach_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
